@import '../../styles/variables';

.select {
  position: relative;

  &__button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 125px;
    margin-left: 20px;
    padding: 6px 2px;
    border-radius: 4px;
    border: 1px solid transparent;
    cursor: pointer;
    font-family: $primary-font;
    transition: background-color 0.2s ease-in-out;
    background: none;

    &:hover {
      background: $currency-select-background;
    }

    &:focus {
      outline: none;
      border: 1px solid $currency-select-background;
    }

    &-arrow {
      width: 24px;
      height: 24px;
      transform: scale(0.5) rotate(180deg);
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M0 16.67l2.829 2.83 9.175-9.339 9.167 9.339 2.829-2.83-11.996-12.17z'/%3E%3C/svg%3E");
      transition: transform .4s ease-in-out;

      &--flip {
        transform: scale(0.5) rotate(0deg);
      }
    }
  }

  &__dropdown {
    position: absolute;
    height: 175px;
    width: 160px;
    top: 21px;
    left: -11px;
    overflow-y: auto;
    background: white;
    border-radius: 4px;
    -webkit-box-shadow: 3px 5px 24px -16px rgba(66, 68, 90, 1);
    -moz-box-shadow: 3px 5px 24px -16px rgba(66, 68, 90, 1);
    box-shadow: 3px 5px 24px -16px rgba(66, 68, 90, 1);
    z-index: 1000;

    &-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 8px;
      cursor: pointer;

      &:hover {
        background: #f8f8f8;
      }
    }

    &--close {
      display: none;
      transition: all 1s ease-in;
    }

    &-currency {
      height: 140px;
    }
  }
}
