@import '../../styles/variables';

.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding-top: 50px;
  font-family: $primary-font;

  @media screen and (min-width: 600px) {
    flex-direction: row;
    padding-top: 0;
    height: 60px;
  }

  &__select-box {
    display: flex;

    @media screen and (min-width: 600px) {
      flex: 1;
    }
  }

  &__currency {
    margin-left: 20px;
    padding: 6px 12px 6px 2px;
    border-radius: 4px;
    border: 1px solid transparent;
    cursor: pointer;
    font-family: $primary-font;
    transition: background-color 0.2s ease-in-out;

    &:hover {
      background: $currency-select-background;
    }

    &:focus {
      outline: none;
      border: 1px solid $currency-select-background;
    }
  }

  &__spread {
    padding: 10px 0;

    @media screen and (min-width: 600px) {
      flex: 1;
    }

    @media screen and (min-width: 600px) {
      padding: 0;
    }
  }

  &__range {
    padding: 10px 0;
    text-align: center;

    @media screen and (min-width: 600px) {
      padding: 0;
      margin-right: 62px;
    }
  }
}
