@import '../../styles/variables';

.table {
  display: flex;
  flex-direction: column;
  min-height: 509px;
  margin-bottom: 20px;

  @media screen and (min-width: 600px) {
    flex-direction: row;
  }

  &__bid {
    flex: 1;
  }

  &__separator {
    @media screen and (min-width: 600px) {
      height: 529px;
      width: 1px;
      background: $separator;
    }
  }

  &__ask {
    flex: 1;
  }
}
