@import '../../styles/variables';

.order-list {
  display: flex;
  flex-direction: column;
  min-height: 509px;
  border-radius: 4px;
  font-family: $primary-font;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  margin: 10px;
  background: $order-list-background;

  &__title {
    text-align: center;
  }

  &__header {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    font-family: $primary-font;
    font-weight: 600;
    font-size: 0.875rem;

    div {
      width: 100%;
      text-align: center;
    }
  }

  &__spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    margin: auto;
    background: linear-gradient(90deg, $order-list-background 50%, $spinner-background 50%);
    border-radius: 100%;
    text-align: center;
    -webkit-animation: rotate .8s infinite linear;
    animation: rotate .8s infinite linear;

    &-dot {
      height: 30px;
      width: 30px;
      border-radius: 100%;
      background: $order-list-background;
    }
  }

  @-webkit-keyframes rotate {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  @keyframes rotate {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
}
